* {
    margin:0; padding:0;
    box-sizing:border-box;
  }
  :root {
    --bg:#ffffff;
    --stairtop:f7da00;
    --stairface:#f7da00;
    --stairside:#f7da00;
    --door:#ff0000;
  }
  html, body {
    background:var(--bg);
    overflow:hidden;
    height:100%;
  }
  #main-wrapper {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
  }